<div class="product-rating">
	{%if settings.use_reviews == 'easy review' -%}
<div class="starbaprv-widget starbaprv-preview-badge starbaprv-preview-badge--with-link" data-id="{{product.id}}" data-url="{{product.handle}}">

{% if product.metafields.starbap['starbaprv.badge']%}

{{product.metafields.starbap['starbaprv.badge']}}

{% endif %}

</div>
{%endif-%}
	{%if settings.use_reviews == 'product review' -%}
	<div class="haravan-product-reviews-badge" data-id="{{ product.id }}"> {{ product.metafields.src.product_loop }} </div>
	{%endif%}
</div>
